

   
        

        <!-- resume -->
        <div class="resume main-top-margin">
            <!-- TEXT -->
            <div class="content">
                <h1>
                    <span>RESUME</span>                 
             	</h1>
            </div>

        </div>

        

        <!-- Self Summary -->
        <div class="selfSummary">
        

            	<div class="section-title">
                    <h2>SELF SUMMARY</h2>
            	</div>

            	<div class="section-content">
                        <p>
                        <i class="fa fa-quote-left fa-3x fa-pull-left doublecode-color"></i>
                        A MEAN Stack Developer living in Bangalore, India. He is enthusiastic, creative designer and passionate about creating beautiful, accessible websites using Web Standards.
                        </p>
            	</div>
           </div>


            <!-- skills -->

<div class="skills">
	
				


            	<div class="section-title">
                        <h2>SKILLS</h2>  
            	</div>

            	<div class="section-content">
            		
                        
                        <!-- main circles start -->
                        		<div class="superDiv">

									<div class="mainDiv">
										  
										  <svg viewBox="-5 -5 110 110" preserveAspectRatio="none">

										    <path class="path2" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>
										    <path class="path1 javascriptPath" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>

										  </svg>

										<div class="simpleText">
											JAVASCRIPT
										</div>
										 
									</div>


									<!-- second -->
									<div class="mainDiv">
										  
										  <svg viewBox="-5 -5 110 110" preserveAspectRatio="none">

										    <path class="path2" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>
										    <path class="path1 html5Path" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>

										  </svg>

										<div class="simpleText">
											HTML5
										</div>
										 
									</div>

									<!-- third circle -->
									<div class="mainDiv">
										  
										  <svg viewBox="-5 -5 110 110" preserveAspectRatio="none">

										    <path class="path2" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>
										    <path class="path1 css3Path" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>

										  </svg>

										<div class="simpleText">
											CSS3
										</div>
										 
									</div>

									<!-- fourth circle -->
									<div class="mainDiv">
										  
										  <svg viewBox="-5 -5 110 110" preserveAspectRatio="none">

										    <path class="path2" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>
										    <path class="path1 angular2Path" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>

										  </svg>

										<div class="simpleText">
											ANGULAR 2
										</div>
										 
									</div>

									<!-- fifth circle -->
									<div class="mainDiv">
										  
										  <svg viewBox="-5 -5 110 110" preserveAspectRatio="none">

										    <path class="path2" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>
										    <path class="path1 nodePath" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>

										  </svg>

										<div class="simpleText">
											NODE
										</div>
										 
									</div>

									<!-- sixth circle -->
									<div class="mainDiv">
										  
										  <svg viewBox="-5 -5 110 110" preserveAspectRatio="none">

										    <path class="path2" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>
										    <path class="path1 javaPath" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"   ></path>

										  </svg>

										<div class="simpleText">
											JAVA
										</div>
										 
									</div>

					

								</div>
                        <!-- main circles end -->
                 
            	</div>



</div>


<!-- education -->

<div class="education">
	


            	<div class="section-title">
                        <h2>EDUCATION</h2>
            	</div>

            	<div class="section-content">
            		<div class="row">
                    <div class="edducation-content-flex-wrapper">
                        
                        <!-- start -->
                         <div class="education-wrapper ">

					        <span class="line"></span>

					          <ul>

					            <li>
					                <div class="education-left">
					                  <div class="education-date">May 2011 - May 2015</div>
					                  <div class="education-degree">Bachelor's degree</div>
					                </div>

					                <span></span>

					                <div class="education-right">
					                  <div class="education-title">B.Tech in Computer Science Engineering</div>
					                  <div class="education-university">UPES, Dehradun</div>
					                </div>

					            </li>

					            <li>
					                <div class="education-left">
					                  <div class="education-date">Mar 2010</div>
					                  <div class="education-degree">Class XII</div>
					                </div>

					                <span></span>

					                <div class="education-right">
					                  <div class="education-title">CBSE</div>
					                  <div class="education-university">Woodbine Gardenia School, Kanpur(U.P.)</div>
					                </div>

					            </li>

					            <li>
					                <div class="education-left">
					                  <div class="education-date">Mar 2008</div>
					                  <div class="education-degree">Class X</div>
					                </div>

					                <span></span>

					                <div class="education-right">
					                  <div class="education-title">CBSE</div>
					                  <div class="education-university">MVM School, Hardoi(U.P.)</div>
					                </div>

					            </li>

					    

					            </ul>

					      </div>
                        <!-- end -->

                    </div>
                </div>
            	</div>
           
 </div>


 <!-- Projects -->
 <div class="projects">
	


            	<div class="section-title">
                        <h2>RECENT&nbsp;PROJECTS</h2>
            	</div>

            	<div class="section-content">   
                        <img src="/assets/project_susy.png" class="img1">
                        <div class="desc1">

                        <h2>The Super User Synchronization Tool</h2> 
                        <p>Susie is a standalone application which is being developed using MEAN (Angular 2) Stack. This tool will synchronize all the roaming super users which are present across various CUCM (Cisco Unified Communications Manager) clusters which are setup by Indian Army across different locations </p>

                        </div>
            	</div>

            	<br>
            	<hr>
            	<br>

            	<div class="section-content">   
                       
                        <div class="desc2">

                        <h2>Web based control panel for MS LYNC</h2> 
                        <p>This is an internal tool that is being used by Infosys MS Odc Team. The current version 
                         provides the below mentioned features:
•	Enable/Disable users from Lync setup
•	View Information of an enabled user
•	Change configuration of a user by comparing with old configuration side by side
 </p>

                        </div>

                         <img src="src/app/resume/img1.png" class="img2">

            
 				</div>

 				<br>
            	<hr>
            	<br>

 				<div class="section-content">   
                        <img src="src/app/resume/img1.png" class="img1">
                        <div class="desc1">

                        <h2>An Interactive web Interface to Triage customer cases</h2> 
                        <p>This web application helps the customers to narrow down the case problem by providing 
                         an interactive solution based interface. This app helps in reducing the number of cases 
                         raised by customers. Current implementation handles IMnP (Instant Messaging and 
                         Presence)  cases
 </p>

                        </div>
            	</div>

            	<br>
            	<hr>
            	<br>

            	<div class="section-content">   
                       
                        <div class="desc2">

                        <h2>Centralized Deployment Feature for Cisco IMnP (Instant Messaging and Presence)</h2> 
                        <p>This feature involved the redesigning of the basic architecture of IMnP for a specific client.
                         In basic design we have n number of IMnP clusters for n number of CUCM clusters. With This 
                         feature n number of IMnP clusters are reduced to 1 Centralized cluster that will interact with
                         all CUCM Clusters and enables the efficient Instant messaging and rich presence

 </p>

                        </div>

                         <img src="src/app/resume/img1.png" class="img2">

            
 				</div>


<div class="stackoverflow">
	<div class="section-title">
      	<h2>STACK OVERFLOW</h2>                
    </div>

            
    <div class="flare">
		            		<a href="http://stackoverflow.com/users/7532440/aman-deep-sharma">
		<img src="http://stackoverflow.com/users/flair/7532440.png?theme=clean"  alt="profile for Aman Deep Sharma at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Aman Deep Sharma at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
		</a>
    </div>
            
 </div>




<br>
<br>
<br>
<br>

<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<hr>
<br>
<br>
<br>
<br>
<p class="copyryght-desktop">
   all work © Aman Deep Sharma 2017 • all rights reserved • to license images, get in touch
</p>



<!-- fixed up-button -->
<button md-fab class="back-to-top">
  
    <i class="fa fa-arrow-up" aria-hidden="true" ></i>
 

</button>





































