.blog p{
	margin-top: 150px;
}

.copyryght-desktop{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #667b98;
    text-align: center;
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
}